{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- Mathjax library script -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
<!-- End of Mathjax library script -->

<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Angle of {{Angle}} Radian in Degree | How to Convert the Angle {{Angle}} Radian in Degrees?</title>
<meta name="description" content="Convert Angle of {{Angle}} Radian in Degree using our Radian to Degree Calculator and get formulas as well as detailed steps involved." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Angle of {{Angle}} Radian in Degree | How to Convert the Angle {{Angle}} Radian in Degrees?" />
<meta property="og:description" content="Convert Angle of {{Angle}} Radian in Degree using our Radian to Degree Calculator and get formulas as well as detailed steps involved." />
<meta content="" property="og:site_name" />

    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Angle of {{Angle}} Radian in Degree | How to Convert the Angle {{Angle}} Radian in Degrees?" />
<meta name="twitter:description" content="Convert Angle of {{Angle}} Radian in Degree using our Radian to Degree Calculator and get formulas as well as detailed steps involved." />

<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->

<meta property='og:title' content="Angle of {{Angle}} Radian in Degree | How to Convert the Angle {{Angle}} Radian in Degrees?" />

<meta property='og:description' content="Convert Angle of {{Angle}} Radian in Degree using our Radian to Degree Calculator and get formulas as well as detailed steps involved." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>

   
    input {
        text-align: right;
    }

    #inputform{
        width: 450px;
      }

    @media only screen and (min-width: 380px) and (max-width: 530px)  {
      #inputform{
        width: 310px;
      }  
  }

  @media only screen and (max-width: 379px)  {
      #inputform{
        width: 200px;
      }  
  }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="center">Angle of {{Angle}} Radian in Degree</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>
            <p>If you want to convert the Angle of {{Angle}} Radian in Degree i.e. {{value}}° try using our online <a href="{% url 'radtodeg' %}">Radian to Degree Calculator</a> for free and make all your calculations fast and simple.</p>
            <div class="center">
            <div class="btn-group btn-group-sm">
             <a href="{% url 'degtorad' %}"><button type="button" class="btn btn-warning rounded-bottom  text-break" style="border-radius: 15px;">Deg to Rad</button></a>
             <a href="{% url 'radtodeg' %}"><button type="button" class="btn btn-success rounded-bottom  text-break" style="border-radius: 15px;">Rad to Deg</button></a>
             <a href="{% url 'supplementary' %}"><button type="button" class="btn btn-warning  rounded-bottom  text-break" style="border-radius: 15px;">Supplementary</button></a>
             <a href="{% url 'complementary' %}"><button type="button" class="btn btn-warning  rounded-bottom  text-break" style="border-radius: 15px;">Complementary</button></a>
             <a href="{% url 'reflex' %}"><button type="button" class="btn btn-warning  rounded-bottom  text-break" style="border-radius: 15px;">Reflex</button></a> 
            </div></div>
            
            
        
        <div class="container card" id="inputform">
            <form action="{% url 'radtodeg' %}" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <br>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Angle</strong></div>
                        </div>
                        <input type="number" step="any" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" class="form-control" name="Angle" id="Angle" {% if Angle or Angle == 0 %} value="{{Angle}}" {% else %} value="90" {% endif %}>
                        
                    </div>

                   <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-danger" name="f1" value="f1">Calculate</button></center>
                    </div>
                    <br>

            </form>
        </div>


        </div>
    </div>
</div>

    <div class="card">
        <div class="card-header">
            <h2 class="center">Step-by-Step Solution</h2>
        </div>
        
        <div class="card-body"> 
            {{detailSteps|safe}}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2 class="center">How do we Convert {{Angle}} Radians to Degrees?</h2>
        </div>
        
        <div class="card-body"> 
            <p>Check out the step-by-step process outlined below to change between {{Angle}} Radians to Degrees easily. They are along the lines</p>
            <ul>
                <li>Firstly determine the given radians value. Here it is {{Angle}} radians</li>
                <li>Then employ the value of {{Angle}} radians in the formula to convert radians to degrees i.e. Degrees = Radians*(180°/π) = {{Angle}}*(180°/π) </li>
                <li>Do further mathematical calculations and the result obtained after simplification {{value}}° is the degree value. </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="center">Degrees to Radians Calculator Example</h4>
        </div>
        
       <div class="card-body"> 
            <div class="row">
                <div class="col-sm-4">
                  <ul>
                    <li><a href="/geometry/angle-of-{{exp.0}}-radian-in-degree/">{{exp.0}}<sup>rad</sup>  in degrees</a></li>
                    <li><a href="/geometry/angle-of-{{exp.1}}-radian-in-degree/">{{exp.1}}<sup>rad</sup>  in degrees</a></li>
                    <li><a href="/geometry/angle-of-{{exp.2}}-radian-in-degree/">{{exp.2}}<sup>rad</sup>  in degrees</a></li>
                    <li><a href="/geometry/angle-of-{{exp.3}}-radian-in-degree/">{{exp.3}}<sup>rad</sup>  in degrees</a></li>
                    <li><a href="/geometry/angle-of-{{exp.4}}-radian-in-degree/">{{exp.4}}<sup>rad</sup>  in degrees</a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li><a href="/geometry/angle-of-{{exp.5}}-radian-in-degree/">{{exp.5}}<sup>rad</sup>  in degrees</a></li>
                        <li><a href="/geometry/angle-of-{{exp.6}}-radian-in-degree/">{{exp.6}}<sup>rad</sup>  in degrees</a></li>
                        <li><a href="/geometry/angle-of-{{exp.7}}-radian-in-degree/">{{exp.7}}<sup>rad</sup>  in degrees</a></li>
                        <li><a href="/geometry/angle-of-{{exp.8}}-radian-in-degree/">{{exp.8}}<sup>rad</sup>  in degrees</a></li>
                        <li><a href="/geometry/angle-of-{{exp.9}}-radian-in-degree/">{{exp.9}}<sup>rad</sup>  in degrees</a></li>
                      </ul>
                </div>

                <div class="col-sm-4">
                    <ul>
                        <li><a href="/geometry/angle-of-{{exp.10}}-radian-in-degree/">{{exp.10}}<sup>rad</sup>  in degrees</a></li>
                        <li><a href="/geometry/angle-of-{{exp.11}}-radian-in-degree/">{{exp.11}}<sup>rad</sup>  in degrees</a></li>
                        <li><a href="/geometry/angle-of-{{exp.12}}-radian-in-degree/">{{exp.12}}<sup>rad</sup>  in degrees</a></li>
                        <li><a href="/geometry/angle-of-{{exp.13}}-radian-in-degree/">{{exp.13}}<sup>rad</sup>  in degrees</a></li>
                        <li><a href="/geometry/angle-of-{{exp.14}}-radian-in-degree/">{{exp.14}}<sup>rad</sup>  in degrees</a></li>
                      </ul>
                  </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="center">FAQs on {{Angle}} Radians to Degrees Conversion</h3>
        </div>
        
    <div class="card-body"> 
            <strong>1. How do we convert {{Angle}} Radians to Degrees?</strong>
            <p>We can convert {{Angle}} Radians to Degrees by multiplying the radians value i.e. {{Angle}} Radians with 180°/π.
            </p><hr>
            <strong>2. What is the formula to convert {{Angle}} radians to degrees?</strong>
            <p>The formula to convert {{Angle}} radians to degrees is Radians = Degrees*(180°/π)</p><hr>
            <strong>3. Where do I get the best tool to convert {{Angle}} radian measure into degrees?</strong>
            <p>You can get the best tool to convert {{Angle}} radian measure into degrees on <a href="https://lcmgcf.com/">LCMGCF.Com</a> a trusted portal.</p>
        </div>
    </div>
    

<script>
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }

    </script>
    
{% endblock %}